.route__text {
	display: block;

	width: 60%;
	margin: 0 auto;
	line-height: 40px;
	margin-top: 70px;
	font-size: 20px;
}

.route__zamok {
	height: 400px;
	width: 60%;
	background: url('../../../img/zam-6.jpeg') 50%;
	background-attachment: fixed;
	margin: 0 auto;
}

.route__zamok--2 {
	height: 400px;
	width: 60%;
	background: url('../../../img/zam-4.jpeg') 50%;
	background-attachment: fixed;
	margin: 0 auto;
}

.route__gedemin {
	height: 400px;
	width: 60%;
	background: url('../../../img/gedemin.jpeg') 50%;
	background-attachment: fixed;
	margin: 0 auto;
}

.route__kostel {
	height: 400px;
	width: 60%;
	background: url('../../../img/kostel.jpeg') 50%;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto;
}

.route__scorina {
	height: 400px;
	width: 60%;
	background: url('../../../img/skorina.jpeg') 50%;
	background-attachment: fixed;
	margin: 0 auto;
}

.route__tvor {
	height: 400px;
	width: 60%;
	background: url('../../../img/tvor.jpeg') 50% no-repeat;
	background-attachment: fixed;
	margin: 0 auto;
}

.route__zavod {
	height: 400px;
	width: 60%;
	background: url('../../../img/zavod.jpeg') 50% no-repeat;
	background-attachment: fixed;
	margin: 0 auto;
}

.route__kurgan {
	height: 400px;
	width: 60%;
	background: url('../../../img/kurgan.jpeg') 50% no-repeat;
	background-attachment: fixed;
	margin: 0 auto;
}
